<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Личный кабинет</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Competition</a>
        <div class="d-flex align-items-center" id="authentication">
         <button type="submit" class="btn btn-danger" id="logoutBtn">Выйти</button>
            <a href="{% url 'index' %}" class="me-3">
                <button class="btn btn-primary">На главную</button>
            </a>
            <div class="border-start ps-3 fs-5 text-success" id="username"></div>
        </div>
    </div>
</nav>
<div class="container mb-4">
    <h5 class="mb-3">Добавить фото</h5>
    <div class="card p-4 shadow-sm border-0">
        <a href="{% url 'add-photo' %}">
            <button class="btn btn-primary rounded-pill px-4 py-2">
                Загрузить фото
            </button>
        </a>
    </div>
</div>
<div class="d-flex justify-content-end pe-5">
  <select class="form-select w-auto" id="state">
    <option value="approved">Опубликованные фото</option>
    <option value="on_moderation">На модерации</option>
    <option value="on_delete">Фото к удалению</option>
    <option value="rejected">Отклонённые</option>
  </select>
</div>
<div class="container mb-4">
    <h5 class="mb-3">Мои фотографии</h5>
    <div class="row" id="photos">
    </div>
</div>
{% load static %}
<script src="{% static 'js/account.js' %}"></script>
</body>
</html>
