<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5" style="max-width: 400px;">
    <form>
        {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">Имя пользователя</label>
        <input type="text" class="form-control" name="username" autofocus required>
      </div>
      <div class="mb-3">
        <label class="form-label">Пароль</label>
        <input type="password" class="form-control" name="password" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Имя</label>
        <input type="text" class="form-control" name="first_name" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Фамилия</label>
        <input type="text" class="form-control" name="last_name" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Электронная почта</label>
        <input type="email" class="form-control" name="email" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Дата рождения</label>
        <input type="date" class="form-control" name="birth_date" required>
      </div>
      <label><input type="radio" name="gender" value="M" id="male" required>Мужской</label>
      <label><input type="radio" name="gender" value="F" id="female" required>Женский</label>
      <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
    </form>
</div>
{% load static %}
<script src="{% static 'js/registrate.js' %}"></script>
</body>
</html>
